@{
    ViewData["Title"] = "About IndoorPlace";
}

<br/><br/><br/>
<div class="container text-center mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br />
    <div class="row">
        <div class="col-md">
            <img src="https://images.unsplash.com/photo-1462392587151-db92c7ca52c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80"
            style="width:340px; height: 300px;" />
        </div>
    
        <div class="col-md">
             <p class="lead"></p>
                We do not condone in sharing our catalog wihtout consent. By visiting our website 
                you agree to viewing purposes only. For pricing information, please contact us 
                from the contact page or visit one of our locations.
                <br/><br/><br />
                When you visit any of our stores you are to be respectful and treat it like it was 
                yours. We value your business and want to see you come. We can order or build whatever 
                type of fireplace you need for your home.
            </p>
        </div>
    </div>
</div>