@{
    ViewData["Title"] = "The Indoor Catalog";
}

<br/><br/><br/>
<div class="container mt-5">
    <h1 class="text-start">@ViewData["Title"]</h1>

    <hr/>

    <p class="lead"></p>
        We do not condone in sharing our catalog wihtout consent. By visiting our website 
        you agree to viewing purposes only. For pricing information, please contact us 
        from the contact page or visit one of our locations.
        <br/><br/><br />
        When you visit any of our stores you are to be respectful and treat it like it was 
        yours. We value your business and want to see you come. We can order or build whatever 
        type of fireplace you need for your home.
        <br /><br /><br />
        Do not copy any verbage, images, or anything resembling this site to misuse our 
        content. By visiting thie website you agree to these terms and conditions that are 
        set by the administrator. 
    </p>


</div>