@{
    ViewData["Title"] = "Home Page";
}

<!--full page responsive content-->
<div class="intro-bg">
    <div class="container text-center">
        <h1 class="display-3 text-dark">See Our Indoor Accessories</h1>
        <br />
        <a href="mailto:mail@somemail.com" class="btn btn-dark btn-lg">MORE INFO</a>
    </div>
</div>
<!--full page responsive content-->

<!--content intro-->
<div class="section1">
  <div class="text-center container">
    <div class="row">
        <div 
            data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation-on-scroll="repeat"
            data-mdb-animation="slide-in-left"
            class="col-md-3 col-sm-12 text-info">
            <br />
            <h1>Imagine</h1>
            Think of a place where you like to go and be in 
            the presence of a warm fire place. Whether it be 
            with family or friends, it is always a welcoming 
            feeling.
        </div>
        <div class="col-md-6 col-sm-12">
            <br />
            <img 
                src="https://images.unsplash.com/photo-1560448204-603b3fc33ddc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" 
                data-mdb-toggle="animation"
                data-mdb-animation-start="onScroll"
                data-mdb-animation="fade-in"
                class="img-fluid shadow-1-strong rounded" />
        </div>
        <div  
            data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation-on-scroll="repeat"
            data-mdb-animation="slide-in-right"
            class="col-md-3 col-sm-12 text-info">
            <br />
            <h1>Long Days</h1>
            After a long day of work or a hobby, it helps to relax.
            Making the effort all day to get your hands dirty there 
            should be a place to kick up your feet and call home.
        </div>
    </div>
  </div>
</div>

<br /><br />
<!--text intro-->
<div 
    data-mdb-toggle="animation"
    data-mdb-animation="zoom-in"
    data-mdb-animation-start="onScroll"
    class="container mt-5 text-center jumbotron">
    <h1 class="display-4">Recently Added Products</h1>
    <p class="lead">
        Come to our location and feel the experience that ,our 
        furnishings can bring to your home.
    </p>
</div>
<!--text intro-->

<br /><br />
<!--image gallery-->
<div class="container text-center mt-5">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          src="https://images.unsplash.com/photo-1564540583246-934409427776?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          data-mdb-animation-delay="300"
          src="https://images.unsplash.com/photo-1606380588765-a4e1f2be4e42?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          data-mdb-animation-delay="500"
          src="https://images.unsplash.com/photo-1516455207990-7a41ce80f7ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          src="https://images.unsplash.com/photo-1519643381401-22c77e60520e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=753&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          data-mdb-animation-delay="300"
          src="https://images.unsplash.com/photo-1560185127-6d2eb05d7088?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          data-mdb-animation-delay="500"
          src="https://images.unsplash.com/photo-1523268755815-fe7c372a0349?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->
     </div>
     <!--Grid row-->
</div>
<!--image gallery-->