@{
    ViewData["Title"] = "Home Page";
}

<!--full page responsive content-->
<div class="intro-bg">
    <div class="container text-center">
        <h1 class="display-3 text-warning">See Our Indoor Places</h1>
        <br />
        <a href="mailto:mail@somemail.com" class="btn btn-warning btn-lg">MORE INFO</a>
    </div>
</div>
<!--full page responsive content-->

<!--content intro-->
<div class="section1">
  <div class="text-center text-warning container">
    <div class="row">
        <div 
            data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation-on-scroll="repeat"
            data-mdb-animation="slide-in-left"
            class="col-md-3 col-sm-12 text-dark">
            <br />
            <h1>Imagine</h1>
            Think of a place where you like to go and be in 
            the presence of a warm fire place. Whether it be 
            with family or friends, it is always a welcoming 
            feeling.
        </div>
        <div class="col-md-6 col-sm-12">
            <br />
            <img 
                src="https://images.unsplash.com/photo-1609537643158-a0fe43b1d830?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80" 
                data-mdb-toggle="animation"
                data-mdb-animation-start="onScroll"
                data-mdb-animation="fade-in"
                class="img-fluid shadow-1-strong rounded" />
        </div>
        <div  
            data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation-on-scroll="repeat"
            data-mdb-animation="slide-in-right"
            class="col-md-3 col-sm-12 text-dark">
            <br />
            <h1>Long Days</h1>
            After a long day of work or a hobby, it helps to relax.
            Making the effort all day to get your hands dirty there 
            should be a place to kick up your feet and call home.
        </div>
    </div>
  </div>
</div>
<!--content intro-->
<br /><br />

<!--customer reviews-->
<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <!-- Carousel wrapper -->
            <div
              id="carouselBasicExample"
              class="carousel slide carousel-fade"
              data-mdb-ride="carousel"
            >
              <!-- Indicators -->
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-mdb-target="#carouselBasicExample"
                  data-mdb-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-mdb-target="#carouselBasicExample"
                  data-mdb-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-mdb-target="#carouselBasicExample"
                  data-mdb-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>

              <!-- Inner -->
              <div class="carousel-inner">
                <!-- Single item -->
                <div class="carousel-item active">
                  <img
                    src="https://media.istockphoto.com/photos/happy-family-mother-and-child-daughter-read-book-on-winter-evening-picture-id909044860?k=6&m=909044860&s=612x612&w=0&h=811YolsRuTdNSW7q8jSUz7YbzKuz5qFiRh2MQo65iiE="
                    class="d-block w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h1>Wilson Family</h1>
                    <p class="lead">
                        Purchased the Ol' English Oxford Brick Stack
                    </p>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <img
                    src="https://media.istockphoto.com/photos/father-with-son-sitting-in-comfortable-armchairs-in-their-cozy-house-picture-id1170305301?k=6&m=1170305301&s=612x612&w=0&h=QDwIEG29phh-0nCdIRSa3Oco39NGNfvZFwOow1my9u0="
                    class="d-block w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h1>Clarkson Family</h1>
                    <p class="lead">
                        Purchased the Mayflower Haven Stack
                    </p>
                  </div>
                </div>

                <!-- Single item -->
                <div class="carousel-item">
                  <img
                    src="https://www.unitedbrick.com/wp-content/uploads/2019/01/fireplace-family4.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                  <div class="carousel-caption d-none d-md-block">
                    <h1>Bryson Family</h1>
                    <p class="lead">
                        Purchased the Summer Eve Haven Stack
                    </p>
                  </div>
                </div>
              </div>
              <!-- Inner -->

              <!-- Controls -->
              <button
                class="carousel-control-prev"
                type="button"
                data-mdb-target="#carouselBasicExample"
                data-mdb-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-mdb-target="#carouselBasicExample"
                data-mdb-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- Carousel wrapper -->
        </div>
    </div>
</div>
<!--customer reviews-->

<br /><br />
<!--text intro-->
<div 
    data-mdb-toggle="animation"
    data-mdb-animation="zoom-in"
    data-mdb-animation-start="onScroll"
    class="container mt-5 text-center jumbotron">
    <h1 class="display-3">Our Gallery</h1>
    <p class="lead">
        Come to our location and feel the experience that one 
        of our fireplaces can bring to your home.
    </p>
</div>
<!--text intro-->

<br /><br />
<!--image gallery-->
<div class="container text-center mt-5">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          src="https://images.unsplash.com/photo-1615874694520-474822394e73?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          data-mdb-animation-delay="300"
          src="https://images.unsplash.com/photo-1586299576722-e14abcdcfcb3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          data-mdb-animation-delay="500"
          src="https://images.unsplash.com/photo-1603039531759-1a1bbe4f9f94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=432&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          src="https://images.unsplash.com/photo-1573849420475-4f1c7bf06fa7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          data-mdb-animation-delay="300"
          src="https://images.unsplash.com/photo-1611589781386-0e204af66f6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
        <img
          data-mdb-toggle="animation"
          data-mdb-animation-start="onScroll"
          data-mdb-animation="fade-in"
          data-mdb-animation-delay="500"
          src="https://images.unsplash.com/photo-1600210491892-03d54c0aaf87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80"
          class="img-fluid shadow-1-strong rounded"
        />
      </div>
      <!--Grid column-->
     </div>
     <!--Grid row-->
</div>
<!--image gallery-->