@{
    ViewData["Title"] = "Home Page";
}

<div class="intro-bg">
    <div class="container text-center">
        <h1 class="display-3 text-dark">See Our Indoor Places</h1>
        <br />
        <a href="mailto:mail@somemail.com" class="btn btn-dark btn-lg">MORE INFO</a>
    </div>
</div>

<div class="section1">
  <div class="text-center text-warning container">
    <div class="row">
        <div 
            data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation-on-scroll="repeat"
            data-mdb-animation="slide-in-left"
            class="col-md-3 col-sm-12">
            <br />
            <h1>Imagine</h1>
            Think of a place where you like to go and be in 
            the presence of a warm fire place. Whether it be 
            with family or friends, it is always a welcoming 
            feeling.
        </div>
        <div class="col-md-6 col-sm-12">
            <br />
            <img 
                src="https://images.unsplash.com/photo-1609537643158-a0fe43b1d830?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80" 
                data-mdb-toggle="animation"
                data-mdb-animation-start="onScroll"
                data-mdb-animation="fade-in"
                class="img-fluid shadow-1-strong rounded" />
        </div>
        <div  
            data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation-on-scroll="repeat"
            data-mdb-animation="slide-in-right"
            class="col-md-3 col-sm-12">
            <br />
            <h1>Long Days</h1>
            After a long day of work or a hobby, it helps to relax.
            Making the effort all day to get your hands dirty there 
            should be a place to kick up your feet and call home.
        </div>
    </div>
</div>
</div>
