.intro-bg {
    background: url(/images/fireplace.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-top: 280px;
    padding-bottom: 280px;
}
